.SurveyResponseResults {
  .results-label {
    color: color(color02);
  }

  .section-results {
    margin-bottom: 5rem;
  }

  .section-explanation {
    text-align: justify;
    word-break: keep-all;
  }
}
